.input-box-seraching{
    width: 500px;
    padding:  16px;
    margin: 0;
    border-radius: 40px;
    border: 1px solid #ddd;
    height: 100%;
    /* border-right: none; */
    font-size: 14px;
    color: antiquewhite;
}


.nav{
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

/* .nav-item{
    border: 1px solid #dee2e6 !important;
    border-radius: 50px;
    margin-right: 10px;
    min-width: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
} */

.navbar-light .navbar-nav .dropdown-menu a {
    font-size: 14px;
    padding: 3px 10px;
    color: #000 !important;
    margin: 0px;
    font-weight: 400;
}

.nav-item:hover {
    /* background-color: #f54141; */
    color: #000;
    position: relative;
    color: #000;
    display: inline-flex;
    vertical-align: middle
}

.cat-drop:hover {
    background-color: #f54141;
    color: #000;
    position: relative;
    color: #000;
    display: inline-flex;
    vertical-align: middle
}

.cat-drop{
    border: none;
    background-color: #f54141;
    border-radius: 50px;
    /* margin-right: 10px; */
    /* min-width: 65px; */
    display: flex;
    align-items: center;
    justify-content: center;
}

